In [1]:
from sql_parse.parser import Parser

In [ ]:
examples = [
    "SELECT 1+1 FROM (SELECT * FROM SINGER) AS T1 UNION ALL SELECT count(*) FROM SINGER",
    "SELECT SUM(IIF(CustomerID = 7, Consumption, 0)) - SUM(IIF(CustomerID = 5, Consumption, 0)) FROM yearmonth WHERE Date = '201304'",
    "SELECT CAST(SUM(CASE WHEN DOC = 54 THEN 1 ELSE 0 END) AS REAL) / SUM(CASE WHEN DOC = 52 THEN 1 ELSE 0 END) FROM schools WHERE StatusType = 'Merged' AND County = 'Orange'",
    "SELECT CAST(COUNT(School) AS REAL) / 12 FROM schools WHERE DOC = 52 AND County = 'Alameda' AND strftime('%Y', OpenDate) = '1980'",
    "SELECT T2.School, T1.AvgScrWrite FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.AdmFName1 = 'Ricci' AND T2.AdmLName1 = 'Ulrich'",
    "SELECT `Free Meal Count (K-12)` / `Enrollment (K-12)` FROM frpm WHERE `County Name` = 'Alameda' ORDER BY (CAST(`Free Meal Count (K-12)` AS REAL) / `Enrollment (K-12)`) DESC LIMIT 1",
]

In [3]:
sql = "SELECT max_temperature_f, date FROM weather WHERE max_temperature_f = ( SELECT MAX(max_temperature_f) FROM weather WHERE max_temperature_f IS NOT NULL AND max_temperature_f IS NOT NULL )"

parser = Parser(sql)


# print(
#     {attr: getattr(parser, attr) for attr in dir(parser) if attr.startswith("count_")}
# )

In [ ]:
import json

spider_dev = json.load(open("data/dataset/spider/dev.json"))
for item in spider_dev:
    sql = item["query"]
    parser = Parser(sql)
    print(parser.count_query_fields)
    print(parser.count_group_by)
    print(parser.count_order_by)
    print(parser.count_limit)
    print(parser.count_join)
    print(parser.count_scalar_function)
    print(parser.count_logical_connecter)
    print(parser.count_like)
    print(parser.count_distinct)
    print(parser.count_control_flow)
    print(parser.count_aggregation)
    print(parser.count_math_compute)
    print(parser.count_subquery)
    print(parser.count_set_operation)
    print(parser.count_predicate)

In [ ]:
import json

spider_dev = json.load(open("data/dataset/bird/dev/dev.json"))
for item in spider_dev:
    sql = item["SQL"]
    parser = Parser(sql)
    print(parser.count_query_fields)
    print(parser.count_group_by)
    print(parser.count_order_by)
    print(parser.count_limit)
    print(parser.count_join)
    print(parser.count_scalar_function)
    print(parser.count_logical_connecter)
    print(parser.count_like)
    print(parser.count_distinct)
    print(parser.count_control_flow)
    print(parser.count_aggregation)
    print(parser.count_math_compute)
    print(parser.count_subquery)
    print(parser.count_set_operation)
    print(parser.count_predicate)

In [ ]:
from engine.engine import Engine
from engine.model import get_dataset_model, get_evaluation_model
from sqlalchemy import Table

db_url = "sqlite:///data/storage/hypersql.sqlite"
engine = Engine(db_url)

In [ ]:
engine.create_dataset_table("spider_dev")

In [ ]:
import json

data = json.load(open("data/dataset/spider/dev.json"))

raw_data = []

for id, item in enumerate(data):
    raw_data.append({
        "id": id,
        "nlq": item["question"],
        "gold": item["query"],
        "db_id": item["db_id"]
    })

engine.insert_dataset_table("spider_dev", raw_data)

In [ ]:
import json

data = json.load(open("data/dataset/bird/dev/dev.json"))

raw_data = []

for id, item in enumerate(data):
    raw_data.append({
        "id": id,
        "nlq": item["question"],
        "gold": item["SQL"],
        "db_id": item["db_id"]
    })

engine.insert_dataset_table("bird_dev", raw_data)

In [ ]:
from dataset.dataset_builder import SpiderDataset, BirdDataset

spider_dataset = SpiderDataset("data/dataset")
bird_dataset = BirdDataset("data/dataset")

In [ ]:
raw_data = spider_dataset.get_raw_data("dev")

raw_data[100]

In [ ]:
raw_data = bird_dataset.get_raw_data("dev")

raw_data[500]

In [ ]:
from engine.engine import Engine
from engine.model import get_dataset_model, get_evaluation_model
from sqlalchemy import Table

db_url = "sqlite:///data/storage/hypersql.sqlite"
engine = Engine(db_url)

In [ ]:
dataset_name = f"{spider_dataset.name}_dev"
raw_data = spider_dataset.get_raw_data("dev")

engine.create_dataset_table(dataset_name)

In [ ]:
engine.insert_dataset_table(dataset_name, raw_data)

In [ ]:
dataset_name = f"{bird_dataset.name}_dev"
raw_data = bird_dataset.get_raw_data("dev")
engine.create_dataset_table(dataset_name)

In [ ]:
engine.insert_dataset_table(dataset_name, raw_data)

In [ ]:
spider_dataset.__class__

In [ ]:
from engine.engine import Engine
from dataset.dataset_builder import SpiderDataset, BirdDataset

db_url = "sqlite:///data/storage/hypersql.sqlite"
engine = Engine(db_url)

In [ ]:
with open("data/predict/spider/HyperSQL.txt", "r") as f:
    preds = f.readlines()

spider_dataset = SpiderDataset("data/dataset")

engine.insert_evaluation_table(spider_dataset, "dev", "HyperSQL", preds)

In [ ]:
engine.models_dict